/* trash untuk mobile navbar */
@media screen and (max-width: 360px) {
    .vid-blajar {
        display: none;      
    }

    .kategori {        
        display: none;
    }

    .foto-1 {
        display: none;
    }
    
}
    
/* mobile navbar */
@media screen and (max-width: 360px) {
    .navbar {
        width: 100%;
        height: 50px;
        margin-inline-end: auto;
        background-color: blueviolet;   
    }

    .vid-blajar_2 {
        color: rgb(0, 255, 17);
        font-size: 20px;  
        font-family: Arial, Helvetica, sans-serif;
        position: absolute;  
        left: 70px;
        top: 14px;
        list-style: none;
        display: block;
    }

}

/* trash untuk mobile page 1 */
@media screen and (max-width: 360px) {        
    .fot-3 {
        display: none;
    }   
    
    .page_1 {
        display: none;
    }

    .koleksi {
        display: none;
    }

    .jelajahi {
        display: none;
    }

    .semua {
        display: none;
    }

    .pemasaran {
        display: none;
    }

    .desain {
        display: none;
    }

    .pengembangan {
        display: none;
    }

    .bisnis {
        display: none;
    }

    .kosong {
        display: none;
    }
}


/* trash untuk page 2 */

  /* baris pertama */
@media screen and (max-width: 360px) {
    .kosong_2 {
        display: none;
    }

    .fot-5 {
        display: none;
    }

    .big {
        display: none;
    }

    .mulai {
        display: none;
    }

    .fot-6 {
        display: none;
    }

    .jenna {
        display: none;
    }

    .senior {
        display: none;
    }

    .fot-7 {
        display: none;
    }    


    .kosong_3 {
        display: none;
    }

    .fot-12 {
        display: none;
    }

    .big-2 {
        display: none;
    }

    .mulai-2 {
        display: none;
    }

    .fot-9 {
        display: none;
    }

    .jenna-2 {
        display: none;
    }

    .senior-2 {
        display: none;
    }

    .fot-7_2 {
        display: none;
    }    


    .kosong_4 {
        display: none;
    }

    .fot-8 {
        display: none;
    }

    .big-3 {
        display: none;
    }

    .mulai-3 {
        display: none;
    }

    .fot-10 {
        display: none;
    }

    .jenna-3 {
        display: none;
    }

    .senior-3 {
        display: none;
    }

    .fot-7_3 {
        display: none;
    } 
    
 /* baris kedua */
    .kosong_5 {
        display: none;
    }

    .fot-14 {
        display: none;
    }

    .big-4 {
        display: none;
    }

    .mulai-4 {
        display: none;
    }

    .fot-13 {
        display: none;
    }

    .jenna-4 {
        display: none;
    }

    .senior-4 {
        display: none;
    }

    .fot-7_4 {
        display: none;
    }    


    .kosong_6 {
        display: none;
    }

    .fot-15 {
        display: none;
    }

    .big-5 {
        display: none;
    }

    .mulai-5 {
        display: none;
    }

    .fot-18 {
        display: none;
    }

    .jenna-5 {
        display: none;
    }

    .senior-5 {
        display: none;
    }

    .fot-7_5 {
        display: none;
    } 

    .kosong_7 {
        display: none;
    }

    .fot-20 {
        display: none;
    }

    .big-6 {
        display: none;
    }

    .mulai-6 {
        display: none;
    }

    .fot-21 {
        display: none;
    }

    .jenna-6 {
        display: none;
    }

    .senior-6 {
        display: none;
    }

    .fot-7_6 {
        display: none;
    } 

 /* baris ketiga */
    .kosong_8 {
        display: none;
    }

    .fot-22 {
        display: none;
    }

    .big-7 {
        display: none;
    }

    .mulai-7 {
        display: none;
    }

    .fot-26 {
        display: none;
    }

    .jenna-7 {
        display: none;
    }

    .senior-7 {
        display: none;
    }

    .fot-7_7 {
        display: none;
    }    


    .kosong_9 {
        display: none;
    }

    .fot-23 {
        display: none;
    }

    .big-8 {
        display: none;
    }

    .mulai-8 {
        display: none;
    }

    .fot-25 {
        display: none;
    }

    .jenna-8 {
        display: none;
    }

    .senior-8 {
        display: none;
    }

    .fot-7_8 {
        display: none;
    } 

    .kosong_10 {
        display: none;
    }

    .fot-27 {
        display: none;
    }

    .big-9 {
        display: none;
    }

    .mulai-9 {
        display: none;
    }

    .fot-28 {
        display: none;
    }

    .jenna-9 {
        display: none;
    }

    .senior-9 {
        display: none;
    }

    .fot-7_9 {
        display: none;
    } 
}


/* trash untuk page 3 */
@media screen and (max-width: 360px) {
    .fot-29 {
        display: none;
    }    
}


/* trash untuk footer */
@media screen and (max-width: 360px) {
    .footer {
        display: none;
    }

    .fot-30 {
        display: none;
    }

    .kacang {
        display: none;
    }

    .fot-31 {
        display: none;
    }
    
}